body{
    margin:0 40px 40px 40px;
    width: 75vw;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

h1{
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: lighter;
}

h2{
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 50px;
    line-height: 1.5;
}

h3{
    margin: 15px;
    font-size: 30px;
}

p{
    margin: 10px;
    line-height: 1.5;
    font-style: normal;
    text-align: justify;
}

ul{
    margin: 15px;
}

article{
    line-height: 1.5;
    margin: 10px;
}

nav{
    
    margin:10px ;
}

li{
   
    margin-left: 25px;
}

.nav_container{
    margin: 40px;
    font-size: 25px;
}