body{
    margin: 0%;
    padding: 0%;

}

.crousel_container{
    margin: 30px;
    padding: 5px;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
}
.images_container{
    display: flex;
    margin: 5px;
}
button{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
}

.btn1 {
    position: absolute;
    top: 35%;
}
.btn2{
    position: absolute;
    left: 94%;
    top: 35%;
}
i{
    font-size: 40px;
    
}

#image{
    margin: 30px;
    border: none;
    width: 300px;
    height: 300px;
    
}
h1{
    margin-left: 50px;
    font-weight: lighter;
}
h2{
    margin: 0%;
    font-size: 15px;
    font-weight: lighter;
    text-align: left;
    margin-left: 30px;
}
 p{
    margin: 0%;
    font-weight: lighter;
    text-align: left;
    font-size: 20px;
    margin-left: 30px; 
 } 

span{
    width:150px ;
    margin: 0%;
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
    margin-left: 30px;
}
